*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body{
    height: 100%;
    width: 100%;
    background-color: black;
    color: white    ;
    /* display: flex;
    justify-content: center;
    align-items: center;
    background: #000; */
}
main, 
section{
    width: 100%;
    height: 100%;
}
section{
    padding: 50px;
}
section .infos{
    width: 100%;
    display: flex  ;
    justify-content: space-between;


}